// Используем переменные из vars.scss
@use "@/assets/styles/vars.scss" as *;

// Tailwind стили
@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: rgba(27, 38, 66); // Основной цвет
$secondary: #424242; // Второстепенный цвет
$accent: rgba(0, 149, 255, 0.8); // Акцентный цвет

// Фон и поверхности
$light: #ffffff; // Цвет фона
$surface: #f5f5f5; // Цвет поверхности

// Состояния
$error: rgb(245, 113, 182); // Цвет ошибок
$info: rgb(18, 161, 253); // Цвет информации
$success: #2dd4bf; // Цвет успеха
$warning: #fb8c00; // Цвет предупреждения

// Градиенты
$gradient-light: linear-gradient(
  90deg,
  rgba(0, 149, 255, 0.424),
  rgba(0, 149, 255, 0.8)
);
// Градиенты
$gradient-opacity: linear-gradient(90deg, rgba(0, 149, 255, 0.5), transparent);
$gradient-dark: linear-gradient(90deg, #1d273e, #11182a);

//! components
.title {
  color: $primary;
  text-shadow: 0 0 10px rgba(0, 183, 255, 0.7), 0 0 6px rgba(0, 149, 255, 0.5),
    0 0 10px rgba(141, 83, 233, 0.7);
}
.my-btn-accent {
  border-radius: 12px;
  background: $success;
  height: 2.5rem;
  max-height: 2.5rem;
  min-width: 150px;
  box-shadow: 0 0 10px $success;
  border: 1px solid $gradient-light;
  border-color: $success;
  color: $light;
  cursor: pointer;
  position: relative;
  z-index: 999;
  &:hover {
    box-shadow: 0 0 10px $success, 0 0 40px $success, 0 0 80px $success;
  }
}
.my-btn-dangger {
  border-radius: 50%;
  background: rgb(245, 113, 182);
  height: 2.5rem;
  max-height: 2.5rem;
  box-shadow: 0 0 10px rgb(245, 113, 182);
  border-color: rgb(245, 113, 182);
  color: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 999;
  padding: 5px 10px;
  &:hover {
    box-shadow: 0 0 10px $error, 0 0 40px $error, 0 0 80px $error;
  }
}
.myBtn,
.el-button.el-button--primary.myBtn {
  border-radius: 12px;
  background: $gradient-light;
  height: 2.5rem;
  max-height: 2.5rem;
  min-width: 150px;
  box-shadow: 0 0 10px $accent;
  border: 1px solid $gradient-light;
  border-color: $gradient-light;
  color: $light;
  cursor: pointer;
  position: relative;
  z-index: 999;

  &:hover {
    box-shadow: 0 0 10px $accent, 0 0 40px $accent, 0 0 80px $accent;
  }
}

.header {
  position: relative;
  z-index: 999;
}
.menu {
  width: fit-content;

  .el-sub-menu .el-sub-menu__icon-arrow {
    font-size: 12px !important;
    margin-right: -60px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
  }
  .el-menu {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    height: 100dvh;
    li {
      padding: 15px 0;
      justify-content: center;
    }
  }
  .menu-item span {
    font-size: 15px;
    line-height: 1.1;
  }
  .el-menu-item.active {
    background: $gradient-opacity;
  }
  .el-sub-menu .el-icon {
    font-size: 25px;
    width: fit-content;
    flex: 1;
  }
  .el-icon svg {
    width: 35px;
    height: 35px;
  }
  .el-menu-item [class^="el-icon"] {
    width: 35px;
    height: 35px;
  }
  .el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container)
    .el-sub-menu__title {
    padding: 0 5px;
  }
  .el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container)
    .el-menu-item {
    padding-left: 0;
    height: fit-content;
  }
}
.inner {
  height: 90dvh;
  overflow: hidden;
  overflow-y: scroll;
  .home-table-quiz {
    .img {
      width: 70px;
      height: 70px;
      border-radius: 12px;
    }
  }
  .el-table__header {
    width: 1038px;
    position: fixed;
    top: 75px;
    height: 100px;
    z-index: 99;
    height: 50px;
  }
  .el-table__body-wrapper {
    margin-top: 45px;
  }
  .el-table__row {
    cursor: pointer;
  }
}
