:root {
  --el-color-primary: rgba(27, 38, 66); /* Основной цвет */
  --el-color-success: #2dd4bf; /* Цвет успеха */
  --el-color-warning: #fb8c00; /* Цвет предупреждения */
  --el-color-danger: rgb(245, 113, 182); /* Цвет ошибок */
  --el-color-info: rgb(18, 161, 253); /* Цвет информации */
  --el-font-color-base: #424242; /* Основной текст */
  --el-border-color-base: #f5f5f5; /* Границы */
  --el-bg-color: #ffffff; /* Цвет фона */
}
